body {

	background: #Fdd9de
}

h1{
	color: #Bb144b;
	font-size: 35px;
	font-weight: bold;

}

.paragraphe-content {
	font-size: 22px
	color: pink;
	text-align: center;
}
	
.profile-picture {
	height: 200px;
	border-radius: 50%;

}

.profile-picture2 {
	height: 120px;
	border-radius: 50%;
}

.profile-picture3 {
	height: 110px;
	border-radius: 50%;
}

.profile-picture4 {
	height: 150px;
	border-radius: 50%;
}

.card-white {
	border: solid black 6px;
	margin-top: 50px;
	margin-left: 15%;
	margin-right: 15%;
	text-align: center;
	background-color: white;
	padding: 40px;
	border-radius: 50px;
}

h2{
	color: #Bb144b;
	font-size: 25px;
	
}

.bouton1 {
	background: #Fdd9de;
	padding: 10px;
}

.fab{
	font-size: 50px
}

.socialMedia{
	text-align: center;

}
